<table>
  <thead>
      <tr>
          <th>Id</th>
          <th>image</th>
          <th>Name</th>
          <th>email</th>
          <th>description</th>
          <th>description1</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let record of records">
          <td>{{record.id}}</td>
          <td><img [src]="record.src" [alt]="record.alt"></td>
          <td>{{record.name}}</td>
          <td>{{record.email}}</td>
          <td>{{record.description}}</td>
          <td>{{record.description1}}</td>
      </tr>
  </tbody>
</table>
<button routerLink="/login">Login</button>